html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  flood-color: $font-color;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
