.second-color {
  color: $secondary-color;
}
.third-color{
  color: $third-color;
}
.mob_br{
  display: inline;
  @media (min-width:768px) {
    display: none;
  }
}
.tab_br{
  display: none;
  @media (min-width:768px) {
    display: inline;
  }
}